*{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 70px;
    width: 90%;
    border: 0.1px solid whitesmoke;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar h1{
    color: rgb(40, 88, 233);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
}
.inner{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
    padding: 10px 0px;
}
.inner p{
    color: rgb(55, 55, 254);
}
.download{
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}
.order-explore h3{
    margin-left: 150px;
    font-size: 24px;
    font-weight: bold;
}
.order{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1px;
    width: 80%;
    margin-left: 150px;
}
.box{
    background-color: orangered;
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
.box img{
    height: 120px;
    width: 120px;
}
.box p{
    color: white;
    font-size: medium;
}
.viewAll{
    padding:10px;
    background-color: white;
    border: none;
    color: orangered;
    font-weight: bold;
    cursor: pointer;
}
.midsection{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 40%;
    height: auto;
    margin: 20px;
    margin-left: 500px;
    margin-right: 500px;
}
.box1{
    border: 1px solid lightgray;
    padding: 10px;
    width: 300px;
    height: 250px;
}
.box1 img{
    width: 50px;
    height: 100px;
}

.discover{
    color: orangered;
    margin-top: 1px;
}
.box1 h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
}
.box1 p{
    font-size: 16px;
    color: gray;
    margin-top: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 40px;
    margin: 50px;
    height: 300px;
}
.phones{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
    margin: 100px;
}
.phones img{
    height: 200px;
    width: 300px; 
}
.innerconainer{
    display: flex;
    margin: 50px;
    padding: 50px;
}
h1{
    font-size: 32px;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    margin-bottom: 30px;
    color: rgb(38, 38, 38);
}
.store{
    display: flex;
    gap: 20px;
}
.store img{
    height: 60px;
    width: 180px;
    cursor: pointer;
}